.n-footer {
    margin-top: 80px;
    @media (min-width: 1280px) {
        margin-top: 160px;
    }
    @media (min-width: 1680px) {
        margin-top: 140px;
    }
    min-height: 375px;

    background-image: url('../images/n-footer__tracery.svg'), url('../images/n-footer__background.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom -10px, center top;
    background-size: 1024px auto, 1680px 100%;
    @media (min-width: 1024px) {
        background-position: center bottom -190px, center top;
        background-size: 1920px auto, 1680px 100%;
    }
    @media (min-width: 1680px) {
        background-size: 1920px auto, 100% 100%;
    }
    color: white;

    // GRID
    &__wrapper {
        padding: 70px 0 20px;
        @media (min-width: 1024px) {
            padding: 80px 0 40px;
        }
        @media (min-width: 1280px) {
            padding: 110px 0 40px;
        }
    }

    &__container {
        padding: 0 20px;
        @media (max-width: #{1024 - 1}px) {
            margin: 0 auto;
            max-width: 380px;
        }
        @media (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media (min-width: 1280px) {
            padding: 0 40px;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        @media (min-width: 1366px) {
            padding: 0 60px;
        }
        @media (min-width: 1680px) {
            padding-right: 160px;
        }
    }

    &__block {
        &:not(:last-child) {
            @media (max-width: #{1024 - 1}px) {
                margin-bottom: 40px;
            }
        }

        &--top {
            @media (max-width: #{768 - 1}px),
            (min-width: 1024px) {
                display: none;
            }
        }

        &--nav {
            @media (min-width: 1024px) {
                margin-bottom: 80px;
                width: 100%;
            }
            @media (min-width: 1280px) {
                order: 2;
                margin-bottom: 0;
                padding-top: 10px;
                width: auto;
                max-width: 565px;
            }
            @media (min-width: 1680px) {
                max-width: 660px;
            }
        }

        &--social {
            @media (min-width: 1024px) {
                order: 1;
                margin-left: 80px;
            }
            @media (min-width: 1280px) {
                margin-left: 0;
            }
        }

        &--bottom {
            @media (min-width: 1280px) {
                padding-top: 5px;
            }
        }
    }
    // ---

    // FRAME
    &__frame {}
    &__frame-image {
        margin: 0;
        display: flex;
        align-items: flex-start;
    }
    &__frame-img {}
    // ---

    // LOGO
    &__logo {
        &--top {
            img {
                width: 100%;
            }
        }

        &--bottom {
            @media (max-width: #{1024 - 1}px) {
                display: none;
            }
        }
    }
    // ---

    // NAV
    &__nav {}
    &__nav-list {
        @media (min-width: 1024px) {
            display: flex;
        }
    }
    &__nav-item {
        display: flex;

        &:not(:first-child) {
            margin-top: 20px;
            @media (min-width: 1024px) {
                margin-top: 0;
                margin-left: 40px;
            }
        }
    }
    &__nav-link  {
        font-size: 20px;
        line-height: 100%;
        white-space: nowrap;
        @media (min-width: 1024px) {
            font-size: 25px;
        }
        @media (min-width: 1680px) {
            font-size: 30px;
        }
    }

    &__address {
        margin-top: 40px;
        @media (min-width: 1024px) {
            margin-top: 60px;
        }
        @media (min-width: 1280px) {
            margin-top: 80px;
        }

        font-style: normal;
        font-size: 14px;
        line-height: 140%;
        @media (min-width: 1024px) {
            font-size: 16px;
        }
        @media (min-width: 1680px) {
            font-size: 18px;
        }
    }
    // ---

    // SOCIAL
    &__social {}
    &__social-list {
        display: flex;
    }
    &__social-item {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    &__social-link {
        $size: 50px;
        $transition: $ease-main;

        width: $size;
        height: $size;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid white;
        border-radius: 50%;
        transition: $transition;

        path {
            transition: $transition;
        }

        &:hover {
            background-color: white;

            path {
                fill: #354F9A;
            }
        }
    }

    &__label {
        margin-top: 40px;
        @media (min-width: 1280px) {
            margin-top: 70px;
        }
    }
    // ---

    // BOTTOM
    &__copyright {
        @media (min-width: 1024px) {
            margin-top: 40px;
        }
        @media (min-width: 1280px) {
            margin-top: 65px;
        }

        font-size: 12px;
        line-height: 160%;
        @media (min-width: 1280px) {
            font-size: 14px;
            line-height: 140%;
        }
        @media (min-width: 1280px) {
            font-size: 14px;
            line-height: 140%;
        }
        white-space: pre-line;
    }
    // ---
}